.properties-container {
    width: 500px;

    .properties-title {
        color: #FFFFFF;
    }

    .field-value-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
}

@media (min-width: 700px) {
    .properties-container {
        width: 600px;
    }
}