.template-editor-container {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    
    .title-container {
        width: 100vw;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            color: #f2f2f2f2
        }
    }
}