.template-editor-page {
    .title-container {
        display: flex;
        justify-content: center;
    }
    .title {
        color: #FFFFFF;
    }
    .content-component-container {
        display: flex;
        justify-content: center;
    }
}