.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #282A28;
    z-index: 3;

    .icons-container {
        display: flex;
        flex-direction: column; 
        background-color: #282A28;
        padding-top: 15px;
        padding-left: 15px;
        gap: 25px;
    }

    .icons-container i {
        background-color: #282A28;
        color: #F2F2F2;
        font-size: 24px;
    }
}