.templatecard-container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .inner-container {
        width: 100vw;
        height: 375px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        gap: 24px;

        .card {
            background-color: #282A28;
            border: 1px solid #494949;
            border-radius: 4px;
            width: 277px;
            height: 144px;
            color: #F2F2F2;
            padding: 15px;

            .circle {
                background-color: #F2F2F2;
                width: 50px;
                height: 50px;
                border-radius: 100px;
            }

            .text-container {
                background-color: #282A28;
                font-size: 12px;
                padding-top: 35px;

                h3 {
                    background-color: #282A28;
                }

                p {
                    background-color: #282A28;
                }
            }
        }
    }

    //should this be a component?
    .button-container {
        margin-top: 30px;
        background-color: #735E12;
        border-radius: 4px;
        width: 145px;
        height: 42px;
        display: flex;
        justify-content: center;

        button {
            background-color: #735E12;
            color: #F2F2F2;
            border: none;
            background: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }
    }
}