.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;

    .card {
        background-color: #2B2B2B;
        border-bottom: 2px solid #494949;
        width: 263px;
        height: 144px;
        cursor: pointer;
    }

    .circle {
        margin: 10px;
        background-color: #D1D1D1;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .text-container {
        margin: 10px;
        margin-top: 25px;
        color: #D8D3D3;
        font-size: 12px;
    }
}